body{
    background-color: black;
    position: relative;
}
h1{
    color: white;
    text-align: center;
    font-family: monospace;
    position: relative;
}
#pixelcolor{
    color: white;
    font-family: monospace;
    position: relative;
}
.leftside{
    position: relative;
    top: 100px;
    height: 500px;
    width: 25%;
    text-align: center;
    float: left;
}
#colorselector{
    cursor: pointer;
}
#submitbtn{
    position: relative;
    top: 75px;
    font-family: monospace;
}
#nickname{
    position: relative;
    top:20px;
    color: white;
    font-family: monospace;
}
#nicknameinput{
    position: relative;
    top: 30px;
    text-align: center;
    font-family: monospace;
}
#myCanvas{
    background-color: white;
    position: relative;
    top: 100px;
    float:left;
    margin: 20px;
}
.rightside{
    position: relative;
    top: 100px;
    height: 500px;
    width: 25%;
    text-align: center;
    float: left;
    text-align: center;
}
#pixelstats{
    color: white;
    position: relative;
    flex: left;
    font-family: monospace;
    left: 75px;
}
#statstable{
    font-size: 12px;
    font-family: monospace;
}
